@import '@/styles/base';

.connect_grid,
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: px-to-rem(12);
}

.row {
    @include media-xs {
        width: 100%;

        @media (max-width: 374px) {
            flex-wrap: wrap;
        }
    }
}

.connect_grid {
    @include media-sm-min {
        width: max-content;
    }

    @include media-xs {
        flex-wrap: wrap;

        .coin {
            width: 100%;
        
            > *,
            > * > button {
                width: 100%;
            }
        }

        .network {
            flex-shrink: 0;

            @media (max-width: 374px) {
                width: 100%;

                > *,
                > * button {
                    width: 100%;
                }
            }
        }
    }

}

.user {
    @include media-xs {
        width: 100%;
        
        > * {
            width: 100%;
        }
    }
}
