@import '@/styles/base';

.wrapper {
    @include media-sm-min {
        --pad-right: #{px-to-rem(94)};
    }
    @include media-xs {
        --pad-right: #{px-to-rem(86)};
    }
}

.max {
    position: absolute;
    top: 50%;
    right: px-to-rem(16);
    transform: translateY(-50%);
    
    font-weight: 600;
    line-height: px-to-rem(20);
    letter-spacing: 0.03em;

    > * {
        color: var(--color-blue);
    }

    @include media-sm-min {
        --button-size: #{px-to-rem(36)};
        font-size: px-to-rem(14);
        padding-left: px-to-rem(16);
        padding-right: px-to-rem(16);

    }
    @include media-xs {
        --button-size: #{px-to-rem(28)};
        font-size: px-to-rem(12);
        padding-left: px-to-rem(14);
        padding-right: px-to-rem(14);
    }
}
