@import '@/styles/base';

.tablist {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;    
    background-color: var(--color-grey-900);
    padding: px-to-rem(4);
    border-radius: px-to-rem(8);
    gap: px-to-rem(4);
}

.tab {
    @include reset-button;
    
    user-select: none;
    border-radius: px-to-rem(6);
    box-sizing: border-box;

    font-weight: 500;
    text-transform: capitalize;
    text-align: center;

    @include media-lg-min {
        padding: px-to-rem(6);
        min-width: px-to-rem(54);
        font-size: px-to-rem(16);
        line-height: px-to-rem(24);
    }
    @include media-md-max {
        padding: px-to-rem(4);
        min-width: px-to-rem(44);
        font-size: px-to-rem(12);
        line-height: px-to-rem(24);
    }

    color: var(--color-grey-500);
    transition: color 0.35s, background 0.35s;

    @include non-mobile-hover(true) {
        &:not(.selected) {
            color: var(--color-white);
        }
    }

    &.selected {
        color: var(--color-white);
        background: var(--color-grey-1100);
    }
}