$colors: (
    "dark": #14161A,
    "black": #000,
    "white": #fff,
    "grey-50": #FAFAFA,
    "grey-100": #F8F9FA,
    "grey-200": #E9ECEF,
    "grey-300": #DEE2E6,
    "grey-400": #CED4DA,
    "grey-450": #B5B9BD,
    "grey-500": #ADB5BD,
    "grey-550": #9A9EA2,
    "grey-600": #8A919E,
    "grey-700": #495057,
    "grey-800": #343A40,
    "grey-900": #212529,
    "grey-1000": #181B20,
    "grey-1150": #151515,
    "grey-1100": #141416,
    "grey-1200": #0F1114,
    "grey-1300": #0B0B0B,
    "success": #00F463,
    "danger": #DC2C2C,
    "overlay": #212529,
    "blue": #00FFF4,
);

@function HexToRGB ($hex) {
    @return red($hex), green($hex), blue($hex);
}
  
:root {
    @each $key, $value in $colors {
        --color-#{$key}: #{$value};
        --color-#{$key}--rgb: #{HexToRGB($value)};
    }
}

:root {
    color: var(--color-white);
    background-color: var(--color-dark);

    font-family: $font-family;
}

button,
input {
    font-family: $font-family;
}
