@import '@/styles/base';

.links_social_icons {
    @include reset-ul;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: px-to-rem(-4);

    > * {
        + * {
            margin-left: px-to-rem(8);
        }
    }

    a {
        display: inline-block;
        padding: px-to-rem(4);

        svg {
            width: auto;
            height: px-to-rem(12);
        }
    
        path {
            fill: var(--grey-600);
            transition: fill 0.35s;
        }
    
        @include non-mobile-hover (true) {
            path {
                fill: var(--blue);
            }
        }

    }

}