@import '@/styles/base';

.tooltip {
    width: 100vw;
}

.modal {
    :global(.modal-content) {
        padding: 0;
        background-color: transparent;
        border: 0;
    }
    
    :global(.modal-close) {
        top: px-to-rem(16);
        right: px-to-rem(10);
    }
}