@import '@/styles/base';

.heading {
    font-family: $font-family;

    font-style: normal;
    font-weight: 600;
    line-height: px-to-rem(24);

    @include media-lg-min {
        margin: 0 0 px-to-rem(24);
    }
    @include media-md-max {
        margin: 0 0 px-to-rem(18);
    }

    @include media-sm-min {
        font-size: px-to-rem(18);
    }
    @include media-xs {
        font-size: px-to-rem(16);
    }
}
