@import '@/styles/base';

.tooltip_content {
    &.use_padding {
        padding: px-to-rem(16) px-to-rem(24);
    }

    &.use_background {
        background-color: var(--color-grey-900);
        border: 1px solid rgba(var(--color-blue--rgb), 0.4);
        border-radius: px-to-rem(8);
    }
}
