@import '@/styles/base';

.tooltip_content {
    position: relative;
    width: max-content;
}

.modal {
    position: absolute;
    box-sizing: border-box;
    padding: px-to-rem(16) px-to-rem(24);

    &.no_padding {
        padding: 0;
    }
    
    transform: translateY(40px);
    opacity: 0;

    &.use_background {
        background-color: var(--color-grey-900);
        border: 1px solid rgba(var(--color-blue--rgb), 0.4);
        border-radius: px-to-rem(8);
    }

    &:global(.top_left) {
        top: 100%;
        left: 0;

        &.use_margin {
            margin-top: px-to-rem(10);
        }
    }

    &:global(.top_right) {
        top: 100%;
        right: 0;

        &.use_margin {
            margin-top: px-to-rem(10);
        }
    }

    &:global(.bottom_left) {
        bottom: 100%;
        left: 0;

        &.use_margin {
            margin-bottom: px-to-rem(10);
        }
    }

    &:global(.bottom_right) {
        bottom: 100%;
        right: 0;

        &.use_margin {
            margin-bottom: px-to-rem(10);
        }
    }
}