@import '@/styles/base';

.box_outline {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: px-to-rem(8);

    &.is_static {
        border-color: var(--color-grey-800);
        background-color: var(--color-grey-1000);
    }
}

.wrapper {
    position: relative;
    z-index: 1;
    height: 100%;

    &:not(.is_static) {
        opacity: 0;
    }
}

.svg { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    .stroke {
        stroke-width: 1px;
        stroke: var(--color-grey-800);
    }
    
    .bg {
        fill: var(--color-grey-1000);
    }
}
