@import '@/styles/base';

.preview_network_label {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);

    font-weight: 500;
    color: var(--color-white);
    letter-spacing: 0;

    img {
        width: auto;
    }

    &.large {
        border-radius: px-to-rem(4);
        padding: px-to-rem(2) px-to-rem(6);
        font-size: px-to-rem(12);
        line-height: px-to-rem(20);

        > * {
            + * {
                margin-left: px-to-rem(4);
            }
        }

        img {
            height: px-to-rem(12);
        }
    }

    &.medium {
        border-radius: px-to-rem(4);
        padding: px-to-rem(4) px-to-rem(5);
        font-size: px-to-rem(8);
        line-height: px-to-rem(9);

        > * {
            + * {
                margin-left: px-to-rem(3);
            }
        }

        img {
            height: px-to-rem(10);
        }
    }

    &.small {
        border-radius: px-to-rem(2);
        padding: px-to-rem(4) px-to-rem(3);
        font-size: px-to-rem(8);
        line-height: px-to-rem(6);

        > * {
            + * {
                margin-left: px-to-rem(3);
            }
        }

        img {
            height: px-to-rem(7);
        }
    }

}
