@import '@/styles/base';

.navigation_menu {
    @include reset-ul;
    width: 100%;

    li {
        &.has_appear_animation {
            opacity: 0;
            transform: translate(0, 2rem);

            &.show {
                transition: opacity 0.75s, transform 0.75s;
                opacity: 1; 
                transform: none;
            }

            &:not(.show) {
                transition: 0s !important;
            }
        }
    }

}
