@import '@/styles/base';

.navigation_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black);
        opacity: 0.9; 
    }
}

.scroll {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @include reset-scroll-bars;
}

.container {
    position: relative;
    z-index: 0;
    background-color: var(--grey-1100);
    max-width: 77.3%;

    transform: translate(-110%, 0);
    transition: transform 0.5s;

    &.show {
        transform: translate(0, 0);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: calc(100 * var(--vh));
    padding: calc(8.9 * var(--vh)) 0 calc(10 * var(--vh));
    box-sizing: border-box;
}

.links {
    box-sizing: border-box;
    padding-right: px-to-rem(24);
    width: 100%;
}

.children {
    margin-top: px-to-rem(24);
    width: 100%;
    padding: 0 px-to-rem(24) 0 px-to-rem(40);
    box-sizing: border-box;

    @include media-xs {
        @media (max-width: 360px) {
            padding-left: px-to-rem(30);
        }
    }

    > * {
        + * {
            margin-top: px-to-rem(12);
        }
    }
}

.close {
    @include reset-button;
    position: absolute;
    z-index: 1;
    top: px-to-rem(6);
    right: px-to-rem(18);
    width: px-to-rem(48);
    height: px-to-rem(48);
    background-position: center;
    background-repeat: no-repeat;
    background-size: px-to-rem(24);
    background-image: url('./close.svg');
}
