@import '@/styles/base';

.tooltip_container {
    position: relative;
    width: max-content;
}

.modal {
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    width: max-content;
    
    opacity: 0;
    visibility: hidden;
}