@import '@/styles/base';

.button_svg_circle_fill {
    @include reset-button;
    
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: px-to-rem(4) px-to-rem(40);

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }

    @at-root .button_svg_circle_fill:global(.small) {
        font-size: px-to-rem(14);
        line-height: px-to-rem(22);
        font-weight: 600;
    }

    @at-root .button_svg_circle_fill:global(.medium) {
        font-size: px-to-rem(15);
        line-height: px-to-rem(24);
        font-weight: 500;
    }

    @at-root .button_svg_circle_fill:global(.large) {
        font-size: px-to-rem(16);
        line-height: px-to-rem(26);
        font-weight: 500;
    }

    color: var(--content-color);
    transition: color 0.5s;

    &.is_hovered {
        color: var(--content-color-hover);
    }
}
    
.svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}